<header>
  <nav class="navbar navbar-light bg-primary text-light">
    <div class="center">
      <h1 class="text-center">MyStore</h1>
      <ul class="text-center">
        <li><a routerLink="">Product List</a></li>
        <li>|</li>
        <li>
          <a routerLink="/cart">Cart</a>
          <img
            src="../../../assets/cart-outline.svg"
            alt="cart icon"
            width="20"
            height="20"
          />
        </li>
      </ul>
    </div>
  </nav>
</header>
